.un-li {
  width: 65vw;
  padding: 20px;
}

@media screen and (max-width:875px){
  .un-li{
    width:95vw;
  }
  .creeper-row{
    justify-content: center;
  }
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
.creeper-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.creeper-img{
  width: 30vw;
  border:5px solid rgb(145, 243, 125);
}
.link-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.link{
  text-decoration: none;
  font-family: cursive;
  font-size: 30px;
  margin-right: 20px;
  border: 2px solid rgb(6, 253, 88);
  margin-bottom: 20px;
  padding: 5px;
}
.question-head{
  font-family: Jazz LET, fantasy;
  text-align: center;
  font-size: 30px;
}
@media screen and (max-width:875px){
  .creeper-img{
    display: none;
  }
}